@import url('../css/utils.css');
@import url('../css/water_hover.css');
/* 
TODOs

1. TOO MUCH FLEX PROPERTIES LINES
WE SHOULD CONSIDER MIXING SOME COMPONENTS OF SIMILAR PROPERTIES 
IN THE SAME SECTION

2. MIGRATING TO BOOTSTRAP/TAILWIND IS AN OPTION

3. IS IT POSSIBLE TO INCLUDE HOVER PROPERTIES INSIDE AN ELEMENT'S 
STYLE IMMEDIATELY?

Eg. div.something{
        color:red;

        &:hover{
            color:blue;
        }
    }

*/

:root{
    --color-light-blue:rgb(6, 148, 230);
    --color-light-blue-hover:rgba(6, 148, 230, 0.294);
    --color-blue: #383e90;
    --orange:  rgba(250, 116, 54, 1);
}

body{
    overflow-x: hidden;
}

/* HEADER ======================= */
.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 10vh;
}

/* Logo ***************/

.logo{
    display: flex;
    align-items: center;
    margin-left: 15rem;
}

.logo img{
    width: 170px;
    height: 60px;  
}

/* Navigation ************ */
.navigation{
    margin-right: 10rem;
}

.navigation ul{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.navigation ul li{
    margin-left: 1.2rem;
}

.navigation ul li a{
    transition: color 500ms;
}

.navigation ul li a:hover{
    color: var(--color-light-blue);
}

/* LANDING SCREEN ======================= */
.landing-screen{
    height: 90vh;
    display: flex;
    flex-direction: column;    
}

.landing-screen div.landing-screen-content{
    height: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

/*LANDING MESSAGE *************/
.landing-message{
    padding-top: 5%;;
    height: 100%;
    width: 55%;
    font-size: 4rem;    
    display: flex;
    flex-direction: row;
    justify-content:right; 
}

.landing-message div{
    width: 65%;    
}

.landing-message span{
    color: var(--color-light-blue);
}

/*LANDING IMAGE ***************/
.landing-image{
    height: 100%;
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    padding-top: 13%;
    padding-bottom: 1rem;
}

.half-circle{
    height: 12.5rem;
    background-color: rgba(159, 220, 255, 0.833);
    width: 25rem;
    border-bottom-left-radius: 12.5rem;
    border-bottom-right-radius: 12.5rem;
    display: flex;
    justify-content: center;
    position: relative;
    margin-left: 2.5rem;
}

.half-circle img{
    width: 22rem;
    position: absolute;
    top: -11rem;
    height: 16.5rem;
    border-radius: 5px;
}

.box{
    padding: .5rem;
    border-radius: 5px;
    width: 8rem;
    height: 3.5rem;
    color: var(--color-light-blue);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: white;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);    
}

.box i{
    width: 30%;
    font-size: 1.5rem;
}

.box div{
    width: 70%;
    display: flex;
    flex-direction: column;
}

.box-text .subtext{
    font-size: .75rem;
}

.one{
    top: -11.2rem;
    left: -3rem;
}

.two{
    top: -3.5rem;
    right: 0rem;
}

.three{
    bottom: 7rem;
    left: 0rem;
}

/* DISCOVER BUTTON- *************/
.landing-screen-action{
    height: 20%;
    display: flex;
    justify-content: center;
}

.landing-screen-action a{
    border: 2px solid var(--color-light-blue);

    border-radius: 5px;
    width: 8rem;
    height: 3rem;
    color: var(--color-light-blue);
    display: flex;
    justify-content: center;
    align-items: center;

}

.landing-screen-action a:hover{
    color: white;
}

/* SECTION ONE ======================= */

.section-one{
    height: 25rem;
    background-color: rgba(80, 188, 238, 0.073);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
}

.section-one-title{
    height: 25%;
    text-align: center;
}

.section-one-title h1{
    margin-bottom: 1rem;    
}

.one-content{
    height: 75%;
    display: flex;
    flex-direction: row;
    width: 50%;
}

.card{
    background-color: white;
    height: 10rem;
    width: 28%;
    margin: auto 1rem;
    display: flex;
    flex-direction: column;
    padding: 2%;
    border: .5px solid rgba(0, 0, 0, 0.073);
    border-radius: 5px;
}

.card:hover{
    box-shadow: 1px 1px 5px rgba(99, 98, 98, 0.5);
}

.card i{
    margin-top: 1rem;
    margin-bottom: 2rem;
    font-size: 1.8rem;
}

.card span{
    margin-top: .5rem;
}

/* SECTION TWO ======================= */

.section-two{
    height: 35rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.section-two>span{
    width: 25%;
    margin: .5rem auto;
    text-align: center;
}

.galery{
    margin-top: 3%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.galery-box{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 180px;
    height: 250px;
    background-color: white;
    border: 1px solid rgba(219, 217, 217, 0.751);
    margin: .75rem;
    border-radius: 10px;
    overflow: hidden;
}

.galery-box:hover{
    box-shadow: 0px 5px 10px var(--color-light-blue);

}

.galery-box div{
    height: 30%;
}

.galery-box span{
    font-size: .9rem;
    margin-bottom: 2rem;
}

.galery img{
    width: 100%;
    height: 152px;
}

/* GALERY BUTTONS **************/
.buttons{
    width: 100%;
    height: 2rem;
    display: flex;
    justify-content: center;
}

.buttons a,
.slide-controls a,
.section-four-slide-controls a{
    width: 25px;
    height: 25px;
    background-color: white;
    border-radius: 100%;
    border: 1px solid rgba(153, 151, 151, 0.703);
    margin: .5rem;
    display: flex;
    justify-content: center;    
}

.buttons a:hover,
.slide-controls a:hover,
.section-four-slide-controls a:hover{
    box-shadow: 1px 1px 2px rgba(99, 98, 98, 0.5);
    background-color: rgb(232, 232, 232);
}

.buttons a:last-of-type,
.slide-controls a:last-of-type,
.section-four-slide-controls a:last-of-type{
    background-color: var(--color-light-blue);
    color: white;
    border: none;
}

.buttons a:last-of-type:hover,
.slide-controls a:last-of-type:hover,
.section-four-slide-controls a:last-of-type:hover
{
    background-color: white;
    color: var(--color-light-blue);
    border: .5px solid var(--color-light-blue) ;
}

/* SECTION THREE ======================= */

.section-three{
    height: 32rem;
}

.section-three-title{
    text-align: center;
    margin-top: 2rem;
}

.section-three-title span.blue-span{
    color: var(--color-light-blue);
}

.section-three .galery{
    margin-top: 0;
    margin: auto;
    width: 70%;
}

.slide-controls{
    margin-top: 3rem;
    text-align: right;
    width: 70%;
    height: 40px;
    display: flex;
    justify-content: right;
}

/* SECTION FOUR ======================= */

.section-four{
    background-color: rgba(80, 188, 238, 0.073);
    height: 30rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.section-four-left{
    width: 45%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.section-four-left h1 span{
    color: var(--color-light-blue) ;
}

.section-four-left>span{
    margin: 2rem 0rem;
    font-size: .9rem;
}
.section-four-right{
    width: 55%;
    height: 100%;
}

.section-four-slide-controls,
.section-four-left h1,
.section-four-left>span{
    width: 50%;
}

.section-four-slide-controls{
    display: flex;
}

.section-four-right{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-left: 2rem;
}

.section-four-cards{
    height: 70%;
    width: 60%;
    position: relative;
}

.section-four-card, 
.section-four-card-behind{
    height: 11rem;
    width: 21.5rem;
    background-color: white;
    border: 1px solid rgba(128, 128, 128, 0.12);
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
    box-shadow: 0px 1px 20px rgba(99, 98, 98, 0.445);
    
}


.section-four-card div span{
    font-size: .9rem;
}

.small-icon{
    border: 1px solid rgba(128, 128, 128, 0.12);
    border-radius: 100%;
    background-color: white;
    height: 45px;
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    position:absolute;
    top: -30px;
    left: -20px;
    z-index: 100;
}

.small-icon i{
    font-size: 2rem;
}

.section-four-card-behind{
    position: absolute;
    left: 2.5rem;
    bottom: 6rem;
    z-index: -1;
    opacity: .3;

}

/* SECTION FIVE ======================= */
.section-five{
    height: 55rem;
    padding-top: 3rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

}

.section-five h1,
.section-five div{
    width: 80%;
    text-align: center;    
}

.section-five h1 span{
    color: var(--color-light-blue);
}


.section-five-images{
    display: flex;
    width: 100%;
    margin-top: 1rem;
}

.section-five-galery-box{
    margin: 2rem;
    border: 1px solid rgba(0, 0, 0, 0.18);
    height: 18rem;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.section-five-galery-box:hover{
    transform: translateY(-10px) scale(1.01) translateZ(0);
    box-shadow: 0px 2px 20px rgba(128, 128, 128, 0.173), 0px 24px 46px rgba(0, 132, 255, 0.221);
}

.section-five-galery-box div{
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 10px;
    justify-content: space-between;
    height: 6rem;
    width: 100%;
    
}

.section-five-galery-box div span:first-of-type{
    font-weight: 700;
    text-shadow: 5px 5px 10px black;

}

.section-five-galery-box div span:last-of-type{
    font-size: .9rem;
    color: rgba(0, 0, 0, 0.504);
}

.section-five-galery-box img{
    width: 100%;
    height: 12rem;
}

.section-five-dots{  
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
}

.section-five-dots span{
    width: 1rem;
    font-size: 1.5rem;
    font-weight: 1000; 
    border-radius: 100%;  
}

.selected-dot{
    color: var(--color-light-blue);
}


div.thanks{
    height: 15rem;
    background-color: var(--color-light-blue);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    margin-top: 3rem;
    width: 75%;
}


/* FOOTER ===================*/

.footer{
    height: 22rem;  
    width: 75%;
    margin: auto;
}

.footer-up{
    height: 17rem;
    display: flex;
    border-bottom: 1px solid gray;
}

.footer-part-one{
    width: 40%;
    display: flex;
    flex-direction: column;
}

.footer-part-two,
.footer-part-three,
.footer-part-four{
    width: 20%;
    display: flex;
    flex-direction: column;
}

.footer-part-one img{
    width: 150px;
    height: 70px;
}

.footer-part-one span{
    padding-left: .5rem;
}

.social-buttons{
    display: flex;
    margin-top: 3rem;
}

.footer-part-one i{
    font-size: 1.2rem;
    background-color: rgb(255, 255, 255);
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: .5rem;
    border-radius: 100%;
    box-shadow: 2px 2px 5px rgba(128, 128, 128, 0.886);
}

.footer-part-one i:hover{
    background-color: var(--color-light-blue);
    color: white;
}

.footer-up h3{
    margin-bottom: 2rem;
    padding: .5rem;
}

.footer-part-two a,
.footer-part-three a{
    margin-bottom: .5rem;
    color: var(--color-light-blue);
    padding: .2rem;
    border-radius: 5px;
    width: 50%;
}

.footer-part-two a:hover,
.footer-part-three a:hover{
    background-color: var(--color-light-blue-hover);
    color: var(--color-blue);
}

.footer-down{
    height: 5rem;
    display: flex;
    align-items: center;

}