@media only screen and (max-width:930px){

    .logo{
        margin-left: 5rem;
    }

    .navigation{
        margin-right: 5rem;
    }


    .footer-part-one span{
        font-size: .8rem;
    }

    .footer-up div  a{
        font-size: .9rem;
    }

}

@media only screen and (max-width:770px){

    .footer-up h3{
        font-size: .9rem;        
    }

    .footer-part-two a,
    .footer-part-three a{
        margin-bottom: 0.3rem;
    }

    .navigation{
        font-size: .9rem;

    }
    
}

@media only screen and (max-width:640px){

    .footer-part-three{
        display: none;
    }

    .footer-up{
        justify-content: space-between;
    }

    .logo{
        margin-left: 2rem;
    }

    .navigation{
        margin-right: 2rem;
    }

    div.thanks{
        height: 10rem;
        width: 80%;
        font-size: .8rem;
    }

    .footer-up{
        height: 12rem;
    }

    .footer-down{
        height: 2rem;
        font-size: .8rem;
    }

    .social-buttons{
        margin-top: 1rem;
    }

    .footer-part-one img{
        width: 120px;
        height: 50px;
    }

    .footer{
        padding-top: 8rem;
        height: 23rem;
    }
    

}

@media only screen and (max-width:468px){

    .footer-part-two{
        display: none;
    }

    .footer-part-four{
        width: 50%;
        text-align: center;
    }

    .logo img{
        width: 100px;
        height: 40px;
    }

    .navigation{
        font-size: .75rem;
    }

    div.thanks{
        font-size: .7rem;
        height: 8rem;
    }
}


@media only screen and (max-width:350px){

    /* .footer-up{
        flex-direction: column-reverse;
        margin-bottom: 2rem;
    } */

    .footer-part-four{
        display: none;
    }
        
}