:root{
    --color-light-blue:rgb(6, 148, 230);
    --color-light-blue-hover:rgba(6, 148, 230, 0.294);
    --color-blue: #383e90;
    --orange:  rgba(250, 116, 54, 1);
}
*,*::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    overflow: scroll;
    min-height: 100%;


}


.section-two{
   /* height: 800px;*/
    display: flex;
    align-items: center;

}

.section-two-title{
    text-align: center;
    font-size: 2rem;
}
.main-advice-container{
    /*height: 500px;*/
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    padding: 2rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
}
.partone-container{
    /*height: 300px;
    width: 60%;
    */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin-bottom: 2rem;
}
.row1{
    background-color: #f1f1f1;
    text-align: center;
    margin: auto 1rem;
    padding: 2%;
    border: .5px solid rgba(0, 0, 0, 0.073);
    border-radius: 5px;
    justify-content: center;
    align-content: center;
    align-items: center;
}
.row1 img{
    border-radius: 50%;
    object-fit: cover;
    height: 8rem;
    width:8rem;
    margin-top: 1rem;
}
.parttwo-container{
   /* height: 300px;
    width: 60%;
    */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.row2{
    background-color: #f1f1f1;
    text-align: center;
    margin: auto 1rem;
    padding: 2%;
    border: .5px solid rgba(0, 0, 0, 0.073);
    border-radius: 5px;
}
.row2 img{
    border-radius: 50%;
    object-fit: cover;
    height: 7rem;
    width:7rem;
    margin-top: 0rem;
}
.thanks{
    display: flex;
    align-items: center;
}
.footer{
    align-items: center;
}